.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #2d3142;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="file"] {
  font-size: 18px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #2d3142;
  transition: all 0.3s ease-in-out;
}

input[type="file"]:hover {
  background-color: #2d3142;
  color: #f9f9f9;
}

button {
  font-size: 24px;
  font-weight: bold;
  background-color: #ffb400;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #ff8200;
}

p {
  font-size: 18px;
  margin: 0;
  color: #2d3142;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
